.footer {
    margin-top: 10rem;
    background: #007338;
    width: 100%;
  }
  .ic-genislik{
    background-color: #007338;
    width:70%;
    margin: 0 auto;
    display: flex;
    gap:8rem;
    justify-content: space-between;
    font-size: 1rem;
  }
  .taraflar, .taraflar p {
    color: #fff;
    padding-top: 1rem;
    background-color: #007338;
  }
  